.b-header
	position fixed
	display table
	width 100%
	transition transform .8s ease-out
	transform translateY(-150px)
	z-index 2
	&.active
		transform translateY(0px)
	&.fixed
		animation header-fixed .7s forwards
	&.ontop
		animation header-ontop .7s forwards
	&__logo
		display block
		position absolute
		background url(../images/logo.png)
		width 92px
		height 65px
		left 14.3%
		top 63px
	&__menu
		display block
		position absolute
		right 14.5%
		top 80px
		overflow auto
		&_item
			display block
			position relative
			margin-right 40px
			padding-bottom 6px
			float left
			cursor pointer
			transition border-color .25s
			border-bottom 3px solid transparent
			text-transform uppercase
			letter-spacing .75px
			font-family proximaNova-sb
			font-size 1.0625em
			&:hover,
			&.active
				border-bottom 3px solid #70df88
			&:last-child
				margin-right 0
		&_link
			color #fff
			text-decoration none
	&__bg
		width 100%
		height 120px
		transition filter .6s
