.b-section
	display table
	width 100%
	&__head
		display table
		position absolute
		margin 0 auto
		margin-top 25.9%
		width 100%
		text-align center
	&__title
		color #fff
		text-shadow 2px 1px 2px rgba(150, 150, 150, 1)
		&_small
			font-size 2.1875em
			font-family proximaNova-sb
		&_big
			display block
			margin-top -0.2%
			margin-bottom 16.3%
			font-size 4.6875em
			font-family proximaNova-b
			letter-spacing -1.6px
			width inherit
			max-height 335px
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
	&__bg
		width 100%



