.b-slider
	display table
	width 100%
	text-align center
	&__head
		display table
		width 100%
		&_title
			display inline-block
			margin-top 6%
			width 100%
			color #333
			text-align center
			font-size 3em
			font-family proximaNova-sb
		&_label
			width 100%
			color #999
			text-align center
			font-size 1.5625em
			font-family proximaNova-r
			line-height 1.6em
	&__wrap
		display inline-block
		margin-top 87px !important
		margin-left 0px !important
		padding-left 30px !important
		overflow auto
		& .swiper-wrapper
			left 12.6%
	&__item
		display inline-block
		position relative
		width 362px !important
		width 23% !important
		// min-height 555px
		float left
		&_img
			display block
			width 100%
		&_name
			margin-top 6%
			font-family proximaNova-sb
			font-size 1.5em
			color #333
			text-align center
			line-height 1.9em
		&_desc
			padding 0 10px
			font-family proximaNova-r
			font-size 1.125em
			color #666
			line-height 1.2em
		&_read-btn
			margin-top 5%
			margin-bottom 35%
			margin-left -4px
