.button
	display inline-block
	padding-top 16px
	padding-bottom 16px
	padding-left 40px
	padding-right 35px
	border-radius 3px
	text-transform uppercase
	transition background .25s
	cursor pointer
	background #fff
	font-family proximaNova-b
	font-size 1em
	&_color
		&_white
			color #57ab4a
			&:hover
				background #daead1
		&_green
			margin-left 4px
			padding 14px 43px 13px 42px
			border-radius 10px
			font-size 0.875em
			color #57ab4a
			border 2px solid #57ab4a
			&:hover
				background #daead1