.jelect
	display inline-block
	padding-left 8px
	padding-right 8px
	height 32px
	width 217px
	position relative
	vertical-align top
	font-family Arial
	background #fff
	box-shadow 0 0 0 1px #CBCCCE
	cursor pointer
	user-select none
	box-sizing border-box

	&_state_active
		box-shadow 0 0 0 1px #ccc, 0 2px 4px rgba(0, 0, 0, .25)
		border-bottom-right-radius initial !important
		border-bottom-left-radius initial !important
		.jelect-current:after
			transform rotate(-135deg)
	&:focus
	*:focus
		outline none

	&-input
		display none

	&-current
		position relative
		width 100%
		height 100%
		overflow hidden
		padding-left 8px
		padding-right 8px
		padding-top 6px
		font-size 14px
		font-family proximaNova-b
		color #333
		line-height 24px
		overflow-wrap normal
		text-overflow ellipsis
		white-space nowrap
		text-transform uppercase
		&:focus
			outline none

		&:after
			position absolute
			top 1px
			right 29px
			bottom 0
			margin auto
			width 5px
			height 5px
			border-bottom 2px solid #57ab4a
			border-right 2px solid #57ab4a
			transform rotate(45deg)
			transition transform .3s
			transform-origin 70% 70% 0
			content ''
	&-options
		position absolute
		top 100%
		left 0
		right 0
		z-index 200
		margin-top 1px
		margin-left -1px
		display none
		width 265px
		max-height 194px
		overflow-y auto
		overflow-x hidden
		background #fff
		border-bottom 1px solid #ccc
		&_state_active
			display block
			max-height 87px

	&-option
		position relative
		overflow hidden
		margin-bottom 1px
		padding 8px 16px 8px 38px
		padding-left 38px
		display block
		height 32px
		font-size 12px
		font-family proximaNova-r
		line-height 18px
		color #444
		overflow-wrap normal
		text-overflow ellipsis
		white-space nowrap
		transition .125s ease-out
		border-left 1px solid #ccc
		border-right 1px solid #ccc
		&:last-child
			margin-bottom 0
			box-shadow none


		&:hover
		&_state_active
			background-color #eee