@keyframes opacity-from-zero
	from
		opacity 0
	to
		opacity 1
@keyframes preloader-rotate
	50%
		transform rotate(90deg) translate(-15px, 25px)
	100%
		transform rotate(90deg) translate(-15px, 25px)
@keyframes preloader-part-1
	0%
		transform translate(0px, 0px) rotate(0deg)
		border-radius 0px
	50%
		transform translate(-15px, -10px) rotate(-180deg)
		border-radius 25px
		background #3498db
	80%
		transform translate(0px, 0px) rotate(-360deg)
		border-radius 0px
	100%
		transform translate(0px, 0px) rotate(-360deg)
		border-radius 0px
@keyframes preloader-part-2
	0%
		transform translate(0px, 0px) rotate(0deg)
		border-radius 0px
	50%
		transform translate(15px, -10px) rotate(180deg)
		border-radius 25px
		background #f1c40f
	80%
		transform translate(0px, 0px) rotate(360deg)
		border-radius 0px
	100%
		transform translate(0px, 0px) rotate(360deg)
		border-radius 0px
@keyframes preloader-part-3
	0%
		transform translate(0px, 0px) rotate(0deg)
		border-radius 0px
	50%
		transform translate(-15px, 10px) rotate(-180deg)
		border-radius 25px
		background #2ecc71
	80%
		transform translate(0px, 0px) rotate(-360deg)
		border-radius 0px
	100%
		transform translate(0px, 0px) rotate(-360deg)
		border-radius 0px
@keyframes preloader-part-4
	0%
		transform translate(0px, 0px) rotate(0deg)
		border-radius 0px
	50%
		transform translate(15px, 10px) rotate(180deg)
		border-radius 25px
		background #e74c3c
	80%
		transform translate(0px, 0px) rotate(360deg)
		border-radius 0px
	100%
		transform translate(0px, 0px) rotate(360deg)
		border-radius 0px
@keyframes header-fixed
	0%
		transform translateY(0)
	50%
		transform translateY(-200px)
	100%
		transform translateY(-40px)
		height 140px
		background rgba(50,50,50,.6)
@keyframes header-ontop
	0%
		transform translateY(-40px)
		height 140px
		background rgba(50,50,50,.6)
	50%
		transform translateY(-200px)
		background initial
	100%
		transform translateY(0px)
		height initial
