.b-preloader
	position fixed
	left 50%
	top 50%
	min-width 100%	
	z-index 5
	visibility hidden
	&.active
		visibility visible
		animation opacity-from-zero 1s alternate
		&:before
			display block
			position fixed
			top 0
			bottom 0
			left 0
			right 0
			width 100%
			background rgba(230,240,255,1)
			z-index 4
			content ''
	&__box
		position fixed
		display block
		left 50%
		top	50%
		width 50px
		height 50px
		z-index 5
		transform translate(-50%, -50%)
		animation preloader-rotate 1.5s infinite alternate linear
		span
			display block
			position absolute
			bottom 0px
			width 25px
			height 25px
			background #333
			&:nth-child(1)
				animation preloader-part-1 2s 3s infinite alternate ease-in-out 
			&:nth-child(2)
				left 25px
				animation preloader-part-2 2s 3s infinite alternate ease-in-out
			&:nth-child(3)
				top 0px
				animation preloader-part-3 2s 3s infinite alternate ease-in-out
			&:nth-child(4)
				top 0px
				left 25px
				animation preloader-part-4 2s 3s infinite alternate ease-in-out
	&__text
		position fixed
		display block
		margin-top 80px
		left 50%
		top 50%
		transform translate(-50%, -50%)
		font-family Verdana, Geneva, sans-serif
		font-size 18px
		color #333
		white-space nowrap
		text-shadow 1px 2px 0px rgba(76, 76, 76, .3)
		z-index 5
	&__wrap
		position fixed
		display table
		overflow visible
		width 150px
		height 150px		
		left 50%
		top 50%
		z-index 5
		transform translate(-50%, -50%)
		