s-up-brdr-radius = 8px
input-transition = opacity 0.7s ease

.b-signup
	display table
	position relative
	width 100%
	max-height 234px
	background url(../images/signup-bg-small.jpg)
	background-size 12px 100%
	&__wrap
		display table
		margin 0 auto
		margin-bottom 4.5%
	&__title
		position relative
		margin-top 4.5%
		margin-bottom 1.5%
		color #fff
		font-size 1.125em
		font-family proximaNova-sb
		text-align center
	&__jelect
		display inline-block
		float left
		margin-right 27px
		border-radius 4px
		height 48px
		width 263px
		background #fff
		border-shadow none
		color #57ac4a
		& .jelect-current
			padding-left 30px
			padding-top 14px
			letter-spacing .6px
			color #57ab4a
		& .jelect-options_state_active
			max-height 72px
		& .jelect-option
			font-weight bold
			font-size 14px
			text-transform uppercase
			&:first-child
				color #999
	&__input
		display inline-block
		position relative
		padding-top 14px
		padding-bottom 11px
		padding-left 22px
		padding-right 22px
		float left
		width 326px
		color #59635b
		font-size 17px
		letter-spacing .7px
		background #fff
		border-top-left-radius s-up-brdr-radius
		border-bottom-left-radius s-up-brdr-radius
		border 2px solid transparent
		transition border-color .5s
		&:focus
			color #000
		&:focus::-webkit-input-placeholder
			opacity 0
			transition input-transition
		&:focus::-moz-placeholder
			opacity 0
			transition input-transition
		&:focus:-moz-placeholder
			opacity 0
			transition input-transition
		&:focus:-ms-input-placeholder
			opacity 0
			transition input-transition
		&::-webkit-input-placeholder
			opacity 1
			transition input-transition
		&::-moz-placeholder
			opacity 1
			transition input-transition
		&:-moz-placeholder
			opacity 1
			transition input-transition
		&:-ms-input-placeholder
			opacity 1
			transition input-transition
		&:disabled
			background transparent
			border-color transparent
		&.valid
			border-color green
		&.invalid
			border-color #ff3d3d
	&__sub-btn
		display block
		position relative
		padding-left 25px
		padding-top 18px
		padding-bottom 14px
		padding-right 30px
		text-align center
		border-top-right-radius s-up-brdr-radius
		border-bottom-right-radius s-up-brdr-radius
		border none
		background #57AC4A
		color #fff
		font-size 14px
		font-family proximaNova-b
		text-transform uppercase
		letter-spacing 0.6px
	& img
		position absolute
		right 0
		height 100%
