body
	user-select none
	min-width 800px
.main
	position absolute
	overflow-y hidden
	max-height 100%
	opacity 0
	&.active
		max-height none
		position relative
		overflow-y initial
		animation opacity-from-zero .75s alternate forwards
