proximaNova-r = 'proxima-nova-regular', Helvetica, Arial, sans-serif
proximaNova-b = 'proxima-nova-bold', Helvetica, Arial, sans-serif
proximaNova-sb = 'proxima-nova-semibold', Helvetica, Arial, sans-serif
helveticaNeue-r = 'HelveticaNeue', Helvetica, Arial, sans-serif
arial-r = Arial, sans-serif


@font-face
		font-family 'proxima-nova-regular'
		src url('../../fonts/proximanova-reg-webfont.eot')
		src url('../../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
				url('../../fonts/proximanova-reg-webfont.woff2') format('woff2'),
				url('../../fonts/proximanova-reg-webfont.woff') format('woff'),
				url('../../fonts/proximanova-reg-webfont.ttf') format('truetype')
		font-weight normal
		font-style normal

@font-face
		font-family 'proxima-nova-bold'
		src url('../../fonts/proximanova-bold-webfont.eot')
		src url('../../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
				url('../../fonts/proximanova-bold-webfont.woff2') format('woff2'),
				url('../../fonts/proximanova-bold-webfont.woff') format('woff'),
				url('../../fonts/proximanova-bold-webfont.ttf') format('truetype')
		font-weight normal
		font-style normal

@font-face
		font-family 'proxima-nova-semibold'
		src url('../../fonts/proximanova-semibold-webfont.eot')
		src url('../../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
				url('../../fonts/proximanova-semibold-webfont.woff') format('woff'),
				url('../../fonts/proximanova-semibold-webfont.ttf') format('truetype')
		font-weight normal
		font-style normal
