.b-header
	a.b-header__logo.js-logo(href='/')
	ul.b-header__menu
		li.b-header__menu_item.js-menu.active 
			a.b-header__menu_link(href=jv0) home
		li.b-header__menu_item.js-menu
			a.b-header__menu_link(href=jv0) section1
		li.b-header__menu_item.js-menu
			a.b-header__menu_link(href=jv0) section2
	.b-header__bg
