.b-section
	.b-section__head
		h2.b-section__title.b-section__title_small Lorem ipsum dolor sit amet
		h1.b-section__title.b-section__title_big Lorem ipsum dolor sit amet.
		.button.button_color_white Read more
	img.b-section__bg(src="/assets/images/section-bg.jpg")

