.b-signup
	img(src="/assets/images/signup-bg.jpg")
	.b-signup__title Sign up for our newsletter to receive the latest news about our company.
	.b-signup__wrap
		form(action="?")
			+jelect('country-select', [
				['Select your country', 0, true],
				['The United States', 1],
				['Canada', 2],
				['Mexico', 3],
				['Germany', 4],
				['France', 5],
				['The United Kingdom', 6],
			])(class="b-signup__jelect")
			input.b-signup__input.js-email(type="email" placeholder="Your email address" required)
			input.b-signup__sub-btn(type="submit" value="subscribe")
