.b-slider
	.b-slider__head
		.b-slider__head_title Section 1
		.b-slider__head_label Lorem ipsum dorot sit amet didi dada.
	.b-slider__wrap
		.swiper-container
			.swiper-wrapper
				.b-slider__item.swiper-slide
					img.b-slider__item_img(src="/assets/images/slider/slider-item01.jpg")
					.b-slider__item_name Lorem
					.b-slider__item_desc
						| Lorem ipsum dorot sit amet didi dada dudu doo.
						| Aliquam at portt titor donec. Plaacer nisl das. Lorem ipsum
						| dorot sit amet didi dada dudulorem ipsum datter doo.
					.button.button_color_green.b-slider__item_read-btn Read more
				.b-slider__item.swiper-slide
					img.b-slider__item_img(src="/assets/images/slider/slider-item02.jpg")
					.b-slider__item_name Ipsum
					.b-slider__item_desc
						| Lorem ipsum dorot sit amet didi dada dudu doo.
						| Aliquam at portt titor donec. Plaacer nisl das. Lorem ipsum
						| dorot sit amet didi dada dudulorem ipsum datter doo.
					.button.button_color_green.b-slider__item_read-btn Read more
				.b-slider__item.swiper-slide
					img.b-slider__item_img(src="/assets/images/slider/slider-item03.jpg")
					.b-slider__item_name Dolor Sit
					.b-slider__item_desc
						| Lorem ipsum dorot sit amet didi dada dudu doo.
						| Aliquam at portt titor donec. Plaacer nisl das. Lorem ipsum
						| dorot sit amet didi dada dudulorem ipsum datter doo.
					.button.button_color_green.b-slider__item_read-btn Read more
