mixin jelect(name, options)
	.jelect(role='select')&attributes(attributes)= nameClass
		each option in options
			if option[2]
				input.jelect-input#jelect(
					name=name
					value=option[1]
					data-text=option[0]
					type='text'
				)

				.jelect-current(tabindex=0 role='button')= option[0]

		ul.jelect-options.js-custom-scrollbar
			each option in options
				li.jelect-option(
					class=option[2] ? 'jelect-option_state_active' : ''
					data-val=option[1]
					tabindex=0
					role='option'
				)= option[0]